.BuildControl{
    width: 100%;
    background-color: darkgoldenrod;
    display: flex;
    flex-flow: column;
    box-shadow: 0px 2px 1px yellowgreen;
    margin:auto;
    padding-top: 70px;
    padding: 50px 0px;
    align-items: center;

    
}
.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 0.6em;
    color: red;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
  
    .btn:hover,
    .btn:focus {
      color: rgb(15, 14, 14);
      background-color: maroon;
      outline: 0;
    }

    .btn:disabled{
        background-color: grey;
    }
  
  

